body {
  font-family: "Moul", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  background-color: goldenrod;
  text-align: center;
}
.profile-area {
    max-width: 550px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f7f6fb;
    border-radius: 10px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
.profile-area h1{
    text-align: center;
    color: #000000;
}
.profile-area p{
    text-align: center;
    color: #000000;
}
.profile-img{
    display: block;
    margin: 20px auto;
    width: 156px;
    height: 156px;
    border-radius: 50%;
}
dl{
    margin-top: 20px;
}
dt{
    font-weight: bold;
    margin-top: 10px;
    color: #2c3e50;
}
dd{
    margin: 0 0 10px 20px;
    color: #555;
}